.list_render {
  max-width: 95%;
  margin-bottom: 1rem;
}

.movie {
  opacity: .8;
  filter: blur(.7px);
  text-align: center;
}

.movie img{
  width: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.699) 0px 5px 15px;
  transition: .3s;
  cursor: grab;
}

.movie img:hover {
  transform: scale(1.05);
}

.movie.selected{
  opacity: 1;
  filter: blur(0);
  transform: translateY(-30px);
  transition: .4s ease-in-out;
}


.swiper, swiper-container {
  overflow: inherit !important;
  overflow-x: clip !important;
}

@media (max-width: 1366px) {
  .movie img{
    width: 9.5rem;
  }
}

@media (max-width: 769px) {
  .list_render {
    max-width: 90%;
  }
  .movie img{
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .list_render {
    max-width: 95%;
  }

  .movie img {
   width: 9.5rem;
  }
}

@media (max-width: 520px) {
  .list_render {
    max-width: 95%;
  }

  .movie img {
   width: 9.5rem;
  }
}

@media (max-width: 500px) {
  .list_render {
    width: 85%;
  }

  .movie img {
    width: 10rem;
   }

}

@media (max-width: 390px) {
  .list_render {
    width: 90%;
  }

  .movie img {
    width: 9.5rem;
   }
}

@media (max-width: 350px) {
  .list_render {
    width: 95%;
  }

  .movie img {
    width: 8rem;
   }
}