.App {
  text-align: center;
  margin-top: 2rem;
}

.App h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-style: italic;
}

.movies_container {
  width: 60%;
}

.movie_item {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.699) 0px 5px 15px;
  cursor: pointer;
  transition: .3s;
}

.movie_item:hover {
  transform: scale(.95);
  z-index: 10;
}